
@import url('https://fonts.googleapis.com/css?family=Lato');

a:link {
	color:#2d2d2d;
}
a:visited {
	color:#2d2d2d;
}
a:hover {
	color:#2d2d2d;
    text-decoration: none;
    cursor: pointer;
}
a:active {
	color:#2d2d2d;
}

.particleBackground {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
}

#particles {
    mix-blend-mode: screen;
    /*background-color: #a9a9a9;*/
    background: linear-gradient(to bottom right, #96c0d0 40%, #05123f 100%);
}

#dots {
    mix-blend-mode: lighten;
    background-color: #ffffff;
}

#backgroundTexture {
    /*background: linear-gradient(#048eff, #a80000);*/
    background: linear-gradient(#919191, #000000);
}

#gradientOverlay {
    background: linear-gradient(to bottom right, #e0ffffd6 40%, #9ad8e6 100%);
}

#mainContainer {
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    padding: 100px 0px 0px 0px;
    font-family: 'Lato', sans-serif;
}

.subContainer {
    border-radius: 70px;
    background-color: #ffffffba;
    /*background: linear-gradient(#5db6ff5c, #b0474766);*/
    padding: 40px 50px 50px 50px;
    width: 50%;
    left: 25%;
    position: relative;
    margin: 0px 0px 50px 0px;
    color: #2d2d2d;
}

div.subContainer h1 {
    color: #131313;
}

#headshot {
    border-radius: 50%;
    background-size: cover;
    /* max-width: 100%; */
    max-width: 50%;
    float: right;
    margin: 0px 0px 30px 30px;
}

.social-media {
    margin-top: 30px;
    text-align: center;
    font-weight: bold;
}

.social-media div {
    min-width: 100px; 
}


div.social-media i {
    font-size: 75px;
    margin-top: 10px;
    transition: all 0.1s ease-in-out;
    margin-bottom: 10px;
}
div.social-media i:hover {
    font-size: 80px;
    margin-bottom: 0px;
}


div.article a:link {
    color:#0e869e;
}
div.article a:visited {
	color:#0e869e;
}
div.article a:hover {
	color:#0e869e;
    cursor: pointer;
    text-decoration: underline;
}
div.article a:active {
	color:#0e869e;;
}

div.article h1 {
    padding: 0px 0px 10px 0px;
}

div.article {
    padding: 30px 50px 50px 50px;
}

div.article img {
    max-width: 100%;
    border-radius: 15px;
    min-width: 100%;
}

@media only screen and (min-width: 1450px) {
    .subContainer {
        width: 40%;
        left: 30%;
    }
    #headshot {
        max-width: 30%;
    }
}
@media only screen and (max-width: 1000px) {
    .subContainer {
        width: 60%;
        left: 20%;
	}
}
@media only screen and (max-width: 800px) {
    .subContainer {
        width: 80%;
        left: 10%;
	}
}
@media only screen and (max-width: 700px) {
    div.social-media i {
        font-size: 60px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    div.social-media i:hover {
        font-size: 70px;
        margin-bottom: 0px;
    }
}
@media only screen and (max-width: 600px) {
    .social-media {
        text-align: unset;
        position: relative;
        left: 3%;
    }
    .subContainer {
        padding: 30px 40px 40px 40px;
    }
}
@media only screen and (max-width: 500px) {
    .subContainer {
        width: 90%;
        left: 5%;
    }
    #headshot {
        float: left;
        max-width: 100%;
        margin: 0px 0px 20px 0px;
    }
    #mainContainer {
        padding: 30px 0px 0px 0px;
    }
    .subContainer {
        padding: 20px 30px 30px 30px;
    }
}
@media only screen and (max-width: 360px) {
    .social-media {
        left: 15%;
    }
}
